.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0;
    font-size: 14px;
  }
  
  .list-group-courses {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin-bottom: 10px;
    border-radius: 0;
    font-size: 14px;
    padding-top: 0px;
    left: 100px;
    list-style-type: none;
  }
  
  .list-group-modules {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin-bottom: 10px;
    border-radius: 0;
    font-size: 14px;
    width: 80%;
    left: 250px;
    list-style-type: none;
  }
  
  
  .list-group-item-secondary {
    position: relative;
    display: flex;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
  }
  
  .list-group-item-module {
    position: relative;
    display: flex;
    text-indent: 20px;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-left: 3px solid green;
  }
  
  .list-group-item-module-title {
    position: relative;
    display: flex;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-left: 3px solid green;
  }
  
  .list-group-item-module-action {
    width: 80px;
    color: white;
    text-decoration: none;
    justify-content: center;
    border-top: 20px;
  }
  
  .list-group-item-module.active {
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: red;
    background-color: white;
    border-top: 20px;
  }
  
  .list-group-item-module.active a {
    color: red;
  }
  
  .courses a {
    width: 200 px;
    left: 95px;
    color: red;
    text-decoration: none;
  }
  
  .list-group-item {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0.6rem 0.6rem;
    color: white;
    text-decoration: none;
    background-color: black;
    border: 0;
  }
  
  .list-group-item-course {
    position: relative;
    display: flex;
    text-align: left;
    justify-content: left;
    padding: 0.6rem 0.6rem;
    color: white;
    text-decoration: none;
    background-color: white;
    border: 0;
    width: 200px;
  }
  
  .list-group-item-action {
    width: 80px;
    color: white;
    text-decoration: none;
    justify-content: center;
  }
  
  .list-group-item-action-course a {
    width: 80px;
    color: red;
    text-decoration: none;
    justify-content: center;
  }
  
  .list-group-item-action:hover {
    background-color: white;
    color: red;
  }
  
  .list-group-item-action-course {
    width: 120px;
    color: white;
    text-decoration: none;
    justify-content: left;
  }
  
  .list-group-item-action-course:hover a {
    background-color: white;
    color: black;
    border-left: 3px solid black;
    padding: 8px;
  }
  
  .list-group-item.active {
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: red;
    background-color: white;
  }
  
  .list-group-item.active a {
    color: red;
  }
  
  .list-group-item-course.active {
    text-align: left;
    justify-content: left;
    text-decoration: none;
    color: black;
    background-color: white;
    border-left: 3px solid black;
    padding: 8px;
  }
  
  .custom-dropdown-icon::after {
    display: none;
  }

.wd-flex-navbar {
    width: 77px;
    background-color: black;
    height: 100%;
    position: fixed;
}

.wd-flex-navbar ul {
    padding-left: 0px;
}

.wd-flex-navbar li {
    list-style: none;
    text-align: center;
}

.wd-flex-navbar li img {
    background-color: black;
    height:40px; 
    width:50px;
}

.wd-main-layout {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.wd-flex-navbar a {
    text-decoration: none;
    font-size: small;
}

html,
body {
    height: 100%;
}


.wd-bg-white {
    background-color: white;
}

.wd-bg-grey {
    color: grey;
}

.wd-bg-red {
    color: red;
}

.wd-fg-red {
    color: red;
}

.wd-fg-white {
    color: white;
}

.wd-home-nav-text {
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.wd-flex-navbar .wd-home-nav-active {
    background-color: white;
}

.wd-flex-navbar .wd-home-nav-active a {
    color: red;
}

.wd-flex-course-screen {
    display: flex;
    flex-direction: column;
    width: 90%;
    position: relative;
    left: 75px;
}

.wd-course-nav-active {
    border-left: 2px solid black;
    color: black
}

.wd-courses-content {
    display: flex;
    flex-direction: row;
}

.wd-bg-lightgray {
    background-color: lightgray;
}

.wd-flex-courses-navbar {
    margin-left: 10px;
    position: fixed;
}

.wd-flex-courses-navbar ul {
    padding-left: 0px;
}

.wd-flex-courses-navbar li {
    list-style: none;
}

.wd-flex-courses-navbar a {
    text-decoration: none;
    padding-left: 10px;
}

.wd-flex-course-settings {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 200px;
}

.wd-list-assignment-type {
    background-color: lightgray;
}

li.list-group-item.wd-list-assignment-element a {
    text-decoration: none;
    color:black;
}


.wd-list-assignment-element .wd-list-assignment-element-title {
    font-weight: bold;
    padding-left: 5px;
    text-decoration: none;
}

.wd-list-assignment-element .wd-list-assignment-element-desc {
    padding-left: 10px;
}


.wd-fg-green {
    color: green;
}

.wd-flex-course-status {
    padding-left: 25px;
}

.wd-profile-name {
    padding-left: 10px;
}

.wd-bg-black {
    background-color: black;
}

.wd-custom-round-border {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 2px;
}

.nav-link {
    color:red;
}

.table td {
    padding-left: 10px;
}


